html{
  background-color: black;
}

body {
    font-family: IBM Plex Mono, Arial, sans-serif;
    /* background-color: #8B0A0A; */
    min-height:95vh;
    background-image: url("../blue-hands.gif");
    background-repeat: no-repeat;
    background-position: fixed;
    background-position: center;
    background-size: cover;


}
.metal{
  font-family: Metal Mania, Arial, sans-serif;
}

/* .navbar {
  max-width: 80%;
  margin: 0 0;
  top:0;
  color: white;
  text-align: center;
  position: fixed;
  width:100%;
  left:10%;
} */
.navbar li{
  color: white;
  background-color:black;
}


.navbar li a{
  font-size: 150%;
}
.body-content p{
  color: white;
  width: 80%;
  text-align: center;
  font-size: 200%;
}

 a{
   color: white;
 }

.page-header{
  z-index: 100;
}
h1 {
    font-size: 800%;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 2px black;

}


footer{
  text-align: center;
  color:white;
  margin-top: 100px;
}



nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 20px;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccc;
}

#artists-list{
  font-size: 200%;
}
#artists-list li{
  list-style: none;
  margin-left: -45px;
  margin-bottom: 25px;
}

/* font import */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

/* spacing */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th {
  line-height: 1.5;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}

/* typography */
html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

/* graphics */
thead,
tfoot {
  background: url(https://mdn.github.io/learning-area/css/styling-boxes/styling-tables/leopardskin.jpg);
  color: white;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
  border: 3px solid purple;
  text-shadow: 1px 1px 1px black;
}

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr {
  background-image: url(https://mdn.github.io/learning-area/css/styling-boxes/styling-tables/noise.png);
}

table {
  background-color: #ff33cc;
}

/* caption */
caption {
  font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  h1{
    font-size: 500%;
  }
  .body-content p{
    font-size: 130%;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-wrap: wrap;
  }
  nav li {
    margin-bottom: 10px;
  }
  .navbar{
    left:0px;
    background-color: black;
  }
  body{
    background-size: auto;
  }
}
@media (max-width: 490px) {
.page-header{
  margin-top:100px;
}
}
