body{
  background-color: #fff;
  font-family: sans-serif;
  width:85vw;
  margin: auto;
}
body{
      overflow-x: hidden;
}

.body-content{
  width:25%;
}
.bullshit{
display:none;
}
@media only screen and (max-width: 900px) {
  .body-content{
    width:100%;
  }
}
